/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4));
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.timer {
    font-size: 30px;
    text-align: center;
    color: #EB4D4D;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 10px;
    left: 45%;
    top: 40%;
}


.fact-bg {
    position: absolute;
    top: 15%;
    left: 40%;
    width: 20%;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    color: #EB4D4D;
    margin-bottom: 300px;
    border: 0px dashed purple;
}

.index-title {
    position: absolute;
    top: 6%;
    left: 10%;
    width: 80%;
    text-align: center;
    font-size: 40px;
    font-weight: 1000;
    color: #EB4D4D;
    margin-bottom: 300px;
    border: 0px dashed light blue;
}


.current-fact-box{
    position: absolute;
    left: 10%;
    top: 30%;
    background-color: #EB4D4D;
    color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-family: Lato;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    border: 0px solid orange;
}

.fact-text {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    border: 0px solid black;
}


.index-intro{
    position: absolute;
    left: 10%;
    top: 16%;
    background-color: #EB4D4D;
    color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.index-intro-text {
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.fact-text {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    border: 0px dashed red;
}


.score-box{
    position: absolute;
    text-align: center;
    left: 40%;
    top: 5%;
    background-color: #EB4D4D;
    color: #fff;
    width: 20%;
    margin: 0 auto;
    padding: 10px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    border: 0px solid green;

}

.score-text {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

button {
    
    transform: translateX(-50%);
    color: #555;
    border: 0px dashed green;
    font-family: Lato;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}


i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-bull { 
    text-align: center;
    width: 20%;
    position: absolute;
    left: 25%;
    top: 65%;
    transform: translateX(-50%);
    color: #555;
    border: 1px solid #EB4D4D;
    font-family: Lato;
    font-size: 3rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}


.btn-bulltrue { 
    text-align: center;
    width:20%;
    position: absolute;
    left: 75%;
    top: 65%;
    transform: translateX(-50%);
    color: #555;
    border: 1px solid #EB4D4D;
    font-family: Lato;
    font-size: 3rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}

j {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}




buttonx:hover { font-weight: 800; }
buttonx:hover j { margin-right: 20px; }

buttonx:focus {
    outline: none;
}

j {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-next {
    position: absolute;
    width: 30%;
    height: 55px;
    left: 50%;
    bottom: 150px;
    text-align: center;
    color: #555;
    border: 1px solid #EB4D4d;
    font-family: Lato;
    font-size: 3rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
}



buttonx:hover { font-weight: 800; }
buttonx:hover j { margin-right: 20px; }

buttonx:focus {
    outline: none;
}
